body * {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

/* Nav */
nav {
    background-color: transparent !important;
}

/* Header */
.carousel {
    padding-top: 0%;
}
 
/* Presentacion */

.dropdown-divider {
    border-top: 1px solid #43bccc;
    padding-bottom: 3rem;
}

.icon {
    background-color: #43bccc;
    padding: 0.5rem 0rem;
}

/* Destacados */

.card {
    background-color: #43bccc;
    border-width: thin;
    border-color: white;
}