body * {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
}

/* Nav */
nav {
    background-color: transparent !important;
    height: 85px;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .navbar {
        background-color:black;
    }
}

/* Header */
.carousel {
    padding-top: 0%;
}
 
/* Presentacion */

.dropdown-divider {
    border-top: 1px solid #4fa7b3;
    padding-bottom: 1rem;
}

.icon {
    background-color: #4fa7b3;
}

/* Destacados */

.card {
    background-color: #4fa7b3;
    border-width: thin;
    border-color: white;
}

/* Footer */

footer {
    background-color: #4fa7b3;
    margin-bottom: 0px;
}

i {
    font-size: 2.5rem;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-right: 1rem;
    color: white;
}

/* Popover */
.popover {
    color: #343a40;
}

/* Modal */
.modal-content {
    color: #343a40;
}
